#app {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 700px;
    height: 500px;
    background-image: url("https://picsum.photos/700/500??grayscale&blur=10");

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10% 25%;
}

.content {
    background-color: rgba(0, 0, 0, 0.666);
    padding: 100px 100px;
    border-radius: 10% 25%;
}

.main-text {
    opacity: 1;
    font-size: 26px;
    z-index: 1000;
    color: #ffffff;
}