<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div id="app">


    <div class="container" v-on:click="GetAnswer">

        <div class="content">

            <div class="main-text">
                {{ message }}
            </div>

        </div>

    </div>

</div>
</body>
<script src="/static/js/index.js"></script>
</html>